@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-3 blockquote p,
#chapter-6 blockquote p{
	text-align: center;
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
